.loginBG {
    width: 100vw;
    height: 100vh;
    background: url('../../../images/caterpillar.png');
    background-size: 25%;
    grid-column: 1/2;
    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: hard-light;
    background-attachment: fixed;
    position: absolute;
}

.loginPanel {
    background-color: var(--primary-color);
    width: 30vw;
    border: 0px solid gray;
    border-radius: 70px;
    margin: 26vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    filter: drop-shadow(40px 50px 4px rgba(0,0,0,.3));
    color: black;
}

.loginPanel h1 {
    width: 100%;
    color: #E84C7E;
    padding-top: 3vh;
}

.loginPanel input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}

.buttonDiv {
    width: 100%;
}